@model SuperMagazine.Domain.Models.UserLoginViewModel

<html>
	<head>
		<link rel="stylesheet" href="~/css/auth/auth.css" />
	</head>
	<body>
	<div class="centerLayer">
		<form method="post">
			<div asp-validation-summary="ModelOnly"></div>
			<p>
				<label asp-for="Login">Логин</label><br/>
				<input type="text" asp-for="Login" /><br/>
				<span asp-validation-for="Login" />
			</p>
			<p>
				<label asp-for="Password">Пароль</label><br/>
				<input asp-for="Password" /><br/>
				<span asp-validation-for="Password" />
			</p>
			<p>
				<input type="submit" value="Войти">
			</p>
			<a asp-controller="User" asp-action="Register">Регистарция</a>
		</form>
	</div>
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	</body>
</html>
