<div class="profile-menu">
	<div 
		id="profileMenuButton_Main" 
		class="profile-menu button" 
		role="button"
		onclick="GetView(ProfileViews.INDEX)"
	>
		<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_204_2)">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M16.8944 2.95656L28.2277 9.2899C28.9053 9.62868 29.3333 10.3212 29.3333 11.0787V13.0001C29.3333 13.9205 28.5872 14.6668 27.6666 14.6668H26.6666V25.3334H28C28.7364 25.3334 29.3333 25.9304 29.3333 26.6668C29.3333 27.4032 28.7364 28.0001 28 28.0001H3.99996C3.26359 28.0001 2.66663 27.4032 2.66663 26.6668C2.66663 25.9304 3.26359 25.3334 3.99996 25.3334H5.33329V14.6668H4.33329C3.41281 14.6668 2.66663 13.9205 2.66663 13.0001V11.0787C2.66663 10.3843 3.02628 9.74455 3.60811 9.38179L15.1056 2.95656C15.6686 2.67504 16.3313 2.67504 16.8944 2.95656ZM22.6666 14.6668H9.33329V25.3334H12V17.3334H14.6666V25.3334H17.3333V17.3334H20V25.3334H22.6666V14.6668ZM16 8.00014C15.2636 8.00014 14.6666 8.5971 14.6666 9.33347C14.6666 10.0699 15.2636 10.6668 16 10.6668C16.7364 10.6668 17.3333 10.0699 17.3333 9.33347C17.3333 8.5971 16.7364 8.00014 16 8.00014Z" />
			</g>
			<defs>
				<clipPath id="clip0_204_2">
					<rect width="32" height="32" fill="white" />
				</clipPath>
			</defs>
		</svg>
		<label>Главная</label>
	</div>
	<div 
		id="profileMenuButton_Personal" 
		class="profile-menu button" 
		role="button"
		onclick="GetView(ProfileViews.PERSONAL)"
	>
		<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_205_2)">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M19.263 1.47407C19.9216 1.80339 20.1886 2.60428 19.8592 3.26292L18.824 5.33329H24C25.4728 5.33329 26.6667 6.52721 26.6667 7.99997V26.6667C26.6667 28.1393 25.4728 29.3333 24 29.3333H8.00004C6.52728 29.3333 5.33337 28.1393 5.33337 26.6667V7.99997C5.33337 6.52721 6.52728 5.33329 8.00004 5.33329H13.176L12.1408 3.26292C11.8115 2.60428 12.0785 1.80339 12.7371 1.47407C13.3958 1.14474 14.1966 1.41171 14.5259 2.07035L16 5.01855L17.4742 2.07035C17.8035 1.41171 18.6043 1.14474 19.263 1.47407ZM18 18.6667H14C12.2327 18.6667 10.7867 20.0421 10.6738 21.7808L10.6667 22V22.6667C10.6667 23.4031 11.2637 24 12 24C12.6838 24 13.2474 23.4853 13.3244 22.8222L13.3334 22.6667V22C13.3334 21.6727 13.5693 21.4005 13.8802 21.3441L14 21.3333H18C18.3273 21.3333 18.5995 21.5691 18.656 21.8801L18.6667 22V22.6667C18.6667 23.4031 19.2636 24 20 24C20.6838 24 21.2474 23.4853 21.3244 22.8222L21.3334 22.6667V22C21.3334 20.2327 19.958 18.7866 18.2192 18.6738L18 18.6667ZM16 12C14.5272 12 13.3334 13.1939 13.3334 14.6667C13.3334 16.1393 14.5272 17.3333 16 17.3333C17.4728 17.3333 18.6667 16.1393 18.6667 14.6667C18.6667 13.1939 17.4728 12 16 12Z" />
			</g>
			<defs>
				<clipPath id="clip0_205_2">
					<rect width="32" height="32" fi ll="white" />
				</clipPath>
			</defs>
		</svg>
		<label>Личные данные</label>
	</div>
</div>