@model SuperMagazine.Domain.Models.UserProfileViewModel

<div class="profile-main">
	<img src="@Model.ProfileImageUrl" height="100" width="100" /><br />
	<label>@Model.Name</label><br />
	<label>@Model.Surname</label><br />
	<label>@Model.Email</label><br />
	<a>Редактировать</a>
</div>