@{
	ViewBag.Heading = "Личные данные";
}

@model SuperMagazine.Domain.Models.UserProfileRedactorViewModel

<form id="personal_form" method="post">
	<div asp-validation-summary="ModelOnly"></div>
	<p>
		<label asp-for="Name"></label><br />
		<input id="personal_name" name="Name" type="text" asp-for="Name" value="@Model.Name"/><br />
		<span asp-validation-for="Name" />
	</p>
	<p>
		<label asp-for="Surname"></label><br />
		<input id="personal_surname" name="Surname" type="text" asp-for="Surname" value="@Model.Surname" /><br />
		<span asp-validation-for="Surname" />
	</p>
	<p>
		<label asp-for="Age"></label><br />
		<input id="personal_age" name="Age" type="text" asp-for="Age" value="@Model.Age" /><br />
		<span asp-validation-for="Age" />
	</p>
	<input type="submit" value="Сохранить" />
</form>

<script src="~/js/profile/personalMenu.js"></script>